# Bundler configs
.bundle/
my_api_app/vendor/bundle/

# Ignore all environment files
.env*

# IDE configs (RubyMine)
.idea/

# Logs and temp files
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# PID files
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Storage (uploads and SQLite databases)
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Master key for decrypting credentials
/config/master.key
